@import 'tailwindcss';
@import './icons.css';
@source '../../node_modules/daisyui/dist/**/*.js';
@source '../../node_modules/react-daisyui/dist/**/*.js';
@plugin "daisyui" {
  themes: emerald --default;
}