@import 'tailwindcss';
@import './icons.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@source '../../node_modules/daisyui/dist/**/*.js';
@source '../../node_modules/react-daisyui/dist/**/*.js';
@plugin "daisyui" {
  themes: emerald --default;
}

.lightBg { background-color: #B97A57; }
.darkBg {background-color: #7B3F16;}
.toolbarFont {font-family: Georgia;}
.calculatorFont {font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;}