@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import './icons.css';

@source '../../node_modules/daisyui/dist/**/*.js';
@source '../../node_modules/react-daisyui/dist/**/*.js';
@plugin "daisyui" {
  themes: emerald --default;
}

.modal-backdrop button {
  @apply cursor-default;
}

math-field.pointer-events-none::part(content) {
  pointer-events: none;
}

math-field {
  --contains-highlight-background-color: lightgray;
}